<h3 class="my-5">
    Свяжитесь с нами!
</h3>

<div class="row gx-5">
    <img src="~/Images/contact/contact.jpg" class="img-fluid col-5"/>
    <div class="col-7">
        <h1>Нам важна обратная связь</h1>
        <h5>Свяжитесь с нами по почте</h5>
        <email address="info@@pharmacystore.com" content="Отправить отзыв" class="btn btn-secondary"></email>
    </div>
</div>