<h1>Контакты</h1>

<div class="row gx-5 contacts-main">
    <div class="contacts-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac84709bcb41511138563c7cac145979bc51a2d9db3e6ab69169cea8caae24746&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="col-7 contacts-info-block">
        <h3>Свяжитесь с нами</h3>
        <div class="contacts-info">
            <p>Адрес: г. Москва, ул. Новокузнецкая, 1, стр. 3</p>
            <p>Режим работы:<br>Пн-Пт с 7:00 до 20:00<br>Сб-Вс с 8:00 до 18:00</p>
            <p><a href="mailto:info@@pharmacystore.com">info@@pharmacystore.com</a></p>
            <p>Телефон: <a href="tel:88000000000">8 (800) 000-00-00</a></p>
        </div>
    </div>
</div>